openapi: 3.0.3
info:
  title: Coinway Partner API
  description: |-
    Coinway is a peer-to-peer (P2P) payment gateway designed to facilitate seamless transactions using digital (cryptocurrency) payment methods.\nTo use Coinway, you and your merchant must have a digital wallet capable of receiving cryptocurrency.\nThis wallet will serve as the destination for any payments processed through the gateway.\nIf you or your merchant wish to convert cryptocurrency into fiat currency or other digital assets, Coinway collaborates with licensed and registered cryptocurrency exchanges.\nWe can facilitate introductions to these trusted exchanges, ensuring compliance with industry standards. Please note that you or your merchant must meet the compliance and verification requirements of the chosen exchange. These requirements may include identity verification (KYC), anti-money laundering (AML) checks, and other regulatory obligations.\nFor enhanced control and security, you also have the option to use a self-custodial wallet. A self-custodial wallet ensures that you maintain complete ownership and control over your private keys and funds. If you’re interested in exploring this option or need guidance, please reach out to our team. We are happy to discuss the various wallet options available and help you choose one that best suits your needs.\nIt’s important to highlight that Coinway, along with its developers, Qi Digital Limited, does not store any funds or private keys at any stage of the transaction process. Additionally, we do not participate in the flow of funds between parties. This ensures a decentralised and secure transaction environment, with complete control and transparency provided to the users.
  termsOfService: https://www.qidigital.com/company/terms-and-conditions/
  contact:
    email: dev@qidigital.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.11

servers:
  - url: https://partner.coinway.io/api/partner
tags:
  - name: HealthCheck
  - name: Merchant
  - name: Merchant Wallets
  - name: Invoice
  - name: Gateway
paths:
  /healthcheck:
    get:
      tags:
       - HealthCheck
      summary: Check the health of API
      description: Check the health of API
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Health'
  /merchant:
    get:
      security:
        - BearerAuth: []
      tags:
        - Merchant
      summary: Retrieves all merchant information
      description: Retrieves all merchant information
      responses:
        '200':
          description: Get all merchants
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/merchantall'
    post:
      security:
        - BearerAuth: []
      tags:
        - Merchant
      summary: Create a new merchant
      description: Creating a new merchant
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/merchant'
            examples:
              New Merchant Example:
                value:
                  name: Merchant Name
                  email: contact@merchant.com
                  website : https:://merchantdomaoin.com
      responses:
        '200':
          description: Invoice successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/merchant'
  /merchant/{merchantId}:
    get:
      security:
        - BearerAuth: []
      tags:
        - Merchant
      summary: View merchant details
      description: Retrieves merchant deaitls.
      parameters:
        - name: merchantId
          in: path
          description:  Unique Merchant Id
          required: true
          schema:
            type: string
            example: m_65e36f37481a6
      responses:
        '200':
          description: Merchant details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/merchant'
  /merchant/{merchantId}/wallet:
    get:
      security:
        - BearerAuth: []
      tags:
        - Merchant Wallets
      parameters:
        - name: merchantId
          in: path
          description:  Unique merchat id
          required: true
          schema:
            type: string
            example: m_65e36f37481a6
      summary: Retrieves wallet information of a merchant
      description: Retrieves invoice information 
      responses:
        '200':
          description: Get all invoices
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invoiceall'
    post:
      security:
        - BearerAuth: []
      tags:
        - Merchant Wallets
      parameters:
        - name: merchantId
          in: path
          description:  Unique merchat id
          required: true
          schema:
            type: string
            example: m_65e36f37481a6
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/wallet'
      summary: Retrieves wallet information of a merchant
      description: Retrieves invoice information 
      responses:
        '200':
          description: Get all invoices
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invoiceall'
  /merchant/{merchantId}/invoice:
    get:
      security:
        - BearerAuth: []
      tags:
        - Invoice
      parameters:
        - name: merchantId
          in: path
          description:  Unique merchat id
          required: true
          schema:
            type: string
            example: m_65e36f37481a6
      summary: Retrieves invoice information
      description: Retrieves invoice information 
      responses:
        '200':
          description: Get all invoices
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invoiceall'
    post:
      security:
        - BearerAuth: []
      tags:
        - Invoice
      parameters:
        - name: merchantId
          in: path
          description:  Unique merchat id
          required: true
          schema:
            type: string
            example: m_65e36f37481a6
      summary: Create a new invoice or payment request
      description: Creating an invoice or payment request with a base fiat currency, i.e. USD
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/invoice'
            examples:
              For New Customer:
                value:
                  currency: USD
                  customer:
                    name : John Doe
                    email : john.doe@email.com
                  items:
                    - description: My Item 1
                      amount : 22
                    - description: My Item 2
                      amount : 22
              Existing Customer:
                value:
                  currency: USD
                  customer:
                    id : c_65da6de9813e9
                  items:
                    - description: My Item 1
                      amount : 22
                    - description: My Item 2
                      amount : 22
              Guest Customer:
                value:
                  currency: USD
                  items:
                    - description: My Item 1
                      amount : 22
      responses:
        '200':
          description: Invoice successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invoice'
  /invoice/{invoiceId}:
    get:
      security:
        - BearerAuth: []
      tags:
        - Invoice
      summary: Invoice details
      description: Retrieves invoice or payment request information, including ID.
      parameters:
        - name: invoiceId
          in: path
          description:  Unique Invoice Id
          required: true
          schema:
            type: string
            example: p_65e36f37481a6
      responses:
        '200':
          description: Invoice ID and details successfully generated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invoice'
  /report/customer:
    get:
      security:
        - BearerAuth: []
      tags:
        - Report
      summary: Customer Report
      description: Consolidated merchant-based customer report
      responses:
        '200':
          description: Successful response with merchant data
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    merchant_id:
                      type: string
                      example: "m_d834h8hd"
                      description: Unique identifier for the merchant.
                    merchant_name:
                      type: string
                      example: "Madassery"
                      description: Name of the merchant.
                    total_customer:
                      type: integer
                      example: 1
                      description: Total number of customers associated with the merchant
  /report/invoice:
    get:
      security:
        - BearerAuth: []
      tags:
        - Report
      summary: Invoice Report
      description: Consolidated merchant-based invoice report
      responses:
        '200':
          description: Successful response with merchant data
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    merchant_id:
                      type: string
                      example: "m_d834h8hd"
                      description: Unique identifier for the merchant.
                    merchant_name:
                      type: string
                      example: "Merchant name"
                      description: Name of the merchant.
                    total_amount:
                      type: string
                      format: decimal
                      example: "100.00"
                      description: Total transaction amount for the merchant.
                    total_amount_success:
                      type: string
                      format: decimal
                      example: "0.00"
                      description: Total successful transaction amount for the merchant.
  /gateway/get/{invoiceId}:
    get:
      security:
        - BearerAuth: []
      tags:
        - Gateway
      summary: Invoice details
      description: Retrieves invoice or payment request information, including ID.
      parameters:
        - name: invoiceId
          in: path
          description:  Unique Invoice Id
          required: true
          schema:
            type: string
            example: p_65e36f37481a6
      responses:
        '200':
          description: Transaction details retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Transaction ID
                    example: p_671c0f04bc338
                  reference_id:
                    type: string
                    nullable: true
                    description: Reference ID
                    example: null
                  app:
                    type: integer
                    description: Application ID
                    example: 0
                  currency:
                    type: string
                    description: Currency used in the transaction
                    example: USD
                  amount:
                    type: string
                    description: Transaction amount
                    example: "20.00"
                  status:
                    type: string
                    description: Status of the transaction
                    example: processing
                  notification:
                    type: string
                    nullable: true
                    description: Notification URL
                    example: null
                  success_url:
                    type: string
                    nullable: true
                    description: Success URL
                    example: null
                  cancel_url:
                    type: string
                    nullable: true
                    description: Cancel URL
                    example: null
                  created_at:
                    type: string
                    format: date-time
                    description: Creation timestamp
                    example: "2024-10-25T21:35:00.000000Z"
                  updated_at:
                    type: string
                    format: date-time
                    description: Last update timestamp
                    example: "2024-10-29T00:38:06.000000Z"
                  wallet_token:
                    type: string
                    description: Wallet token for the transaction
                    example: eyJpdiI6IjRGNFpRUjQybTZNTnB0VEx6eHorMHc9PSIsInZhbHVlIjoiNkR4cmJCRUQzQkFKMzIxWm8ydXJlRmZMckR0R3FuVVlCRkFjZlRtNFpwbz0iLCJtYWMiOiI3Yjc1NjVhYTYyYTJhZGIwMDk0NGY3ZjY4YmNlMTE5YjgwYTE5NDg0MWRmMWU5NmJhNDVjZjFkNjgzNWQwN2U5IiwidGFnIjoiIn0=
                  capture_customer:
                    type: boolean
                    description: Whether customer capture is required
                    example: false
                  customer:
                    type: object
                    description: Customer details
                    properties:
                      id:
                        type: string
                        description: Customer ID
                        example: c_671c0f04bae33
                      name:
                        type: string
                        description: Customer name
                        example: Shabeer
                      email:
                        type: string
                        description: Customer email address
                        example: customername@qidigital.com
                      created_at:
                        type: string
                        format: date-time
                        description: Customer creation timestamp
                        example: "2024-10-25T21:35:00.000000Z"
                      updated_at:
                        type: string
                        format: date-time
                        description: Customer last update timestamp
                        example: "2024-10-25T21:35:00.000000Z"
                  wallet:
                    type: array
                    description: List of wallets associated with the transaction
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Wallet ID
                          example: w_671c0d3e82689
                        crypto:
                          type: string
                          description: Cryptocurrency type
                          example: BTC
                        wallet_address:
                          type: string
                          description: Wallet address
                          example: tb1q3q72nv22hlvkwc3qpvaa8s4802y82zucefda0x
                        created_by:
                          type: integer
                          description: Creator ID
                          example: 1
                        status:
                          type: integer
                          description: Wallet status
                          example: 1
                        created_at:
                          type: string
                          format: date-time
                          description: Wallet creation timestamp
                          example: "2024-10-25T21:27:26.000000Z"
                        updated_at:
                          type: string
                          format: date-time
                          description: Wallet last update timestamp
                          example: "2024-10-25T21:27:26.000000Z"
                  merchant:
                    type: object
                    description: Merchant details
                    properties:
                      id:
                        type: integer
                        description: Merchant ID
                        example: 1
                      uid:
                        type: string
                        description: Merchant unique identifier
                        example: m_en383bd9nb
                      name:
                        type: string
                        description: Merchant name
                        example: X3
                      website:
                        type: string
                        nullable: true
                        description: Merchant website
                        example: ""
                      email:
                        type: string
                        nullable: true
                        description: Merchant email
                        example: ""
                      logo:
                        type: string
                        nullable: true
                        description: Merchant logo URL
                        example: null
                      email_template:
                        type: object
                        description: Email templates used by the merchant
                        properties:
                          invoice:
                            type: string
                            description: Invoice template
                            example: Template 1
                      status:
                        type: integer
                        description: Merchant status
                        example: 1
                      created_at:
                        type: string
                        format: date-time
                        nullable: true
                        description: Merchant creation timestamp
                        example: null
                      updated_at:
                        type: string
                        format: date-time
                        description: Merchant last update timestamp
                        example: "2024-11-10T20:32:45.000000Z"
  /gateway/wallet:
    post:
      security:
        - BearerAuth: []
      tags:
        - Gateway
      summary: Get crypto wallet QR code
      description: Retrieves invoice or payment request information, including ID.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                wallet:
                  type: string
                  description: Unique wallet ID
                  example: "12345-abcde"
                wallet_token:
                  type: string
                  description: Wallet token
                  example: "token_abcdef123456"
              required:
                - wallet
                - wallet_token
      responses:
        '200':
          description: Transaction processed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  process_token:
                    type: string
                    description: A unique token identifying the transaction process
                    example: eyJpdiI6Iit0UFFVdDRya0JzbnE2c1RaZGRES0E9PSIsInNTQyNWY2OWIzOTkwZTYwMmNiMDQ2Yjk5NzQ5NzE4YzNmZWQ2ZGVhZiIsInRhZyI6IiJ9
                  wallet:
                    type: object
                    description: Wallet details
                    properties:
                      id:
                        type: string
                        description: Unique wallet ID
                        example: w_6769b179b1ac2
                      crypto:
                        type: string
                        description: Cryptocurrency type
                        example: BTC
                      wallet_address:
                        type: string
                        description: Wallet address
                        example: bc1qxy2kgdygjrsqtzq2n0yrf2493p83kkfjhx0wlh
                      created_by:
                        type: integer
                        description: ID of the creator
                        example: 0
                      status:
                        type: integer
                        description: Status of the wallet
                        example: 1
                      created_at:
                        type: string
                        format: date-time
                        description: Creation timestamp
                        example: 2024-12-23T18:52:41.000000Z
                      updated_at:
                        type: string
                        format: date-time
                        description: Last updated timestamp
                        example: 2024-12-23T18:52:41.000000Z
                  amount:
                    type: object
                    description: Transaction amount details
                    properties:
                      fiat_currency:
                        type: string
                        description: Fiat currency used
                        example: USD
                      fiat_amount:
                        type: string
                        description: Amount in fiat currency
                        example: "44.00"
                      exchange_rate:
                        type: string
                        description: Exchange rate at the time of transaction
                        example: "97717"
                      crypto_currency:
                        type: string
                        description: Cryptocurrency used
                        example: BTC
                      crypto_amount:
                        type: string
                        description: Amount in cryptocurrency
                        example: "0.00045028"
                  qrcode:
                    type: string
                    description: QR code data for the transaction
                    example: bitcoin:bc1qxy2kgdygjrsqtzq2n0yrf2493p83kkfjhx0wlh?amount=0.00045028&message=p_6769af2edeff0
components:
  schemas:
    Health:
      type: object
      properties:
        status:
          type: string
          example: ok
    item:
      type : object
      properties:
        description:
          type : string
          example: Item Name
        amount:
          type: number
          example : 10.4
    customer: 
      type: object
      properties:
        name: 
          type: string
          example: John
        email: 
          type: string
          example : john@email.com
    merchant:
      type: object
      properties:
        name:
          type: string
          example : merchant 1
        email:
          type: string
          example: contact@merchantdomain.com
        website:
          type: string
          example : https://merchantdomain.com
    wallet:
      type: object
      properties:
        crypto:
          type: string
          example : BTC
        wallet_address:
          type: string
          example: bc1qxy2kgdygjrsqtzq2n0yrf2493p83kkfjhx0wlh
    invoice:
      type: object
      required: 
        - currency
        - customer
        - items
      properties:
        currency: 
          type: string
          example: USD
        customer: 
          $ref: '#/components/schemas/customer'
        items:
          type: array
          items:
            $ref: '#/components/schemas/item'
        success_url: # Optional property
          type : string
          example: https://yourdomain.com/payment/success
        cancel_url:
          type: string
          example: https://yourdomain.com/payment/cancel
    walletall:
      type: object
      properties:
        current_page:
          type: integer
          example: 1
        data:
          type: array
          items: 
            $ref: '#/components/schemas/wallet'
        first_page_url:
          type: string
          format: url
        from:
          type: integer
          example: 1
        last_page:
          type: integer
          example: 1
        last_page_url:
          type: string
          format: url
        links:
          type: array
          items:
            $ref: '#/components/schemas/links'
        next_page_url:
          type: string
          example: null
        path:
          type: string
          format: url
        per_page:
          type: integer
          example: 15
        prev_page_url:
          type: string
          example: null
        to:
          type: integer
          example: 2
        total:
          type: integer
          example: 2
    merchantall:
      type: object
      properties:
        current_page:
          type: integer
          example: 1
        data:
          type: array
          items: 
            $ref: '#/components/schemas/merchant'
        first_page_url:
          type: string
          format: url
        from:
          type: integer
          example: 1
        last_page:
          type: integer
          example: 1
        last_page_url:
          type: string
          format: url
        links:
          type: array
          items:
            $ref: '#/components/schemas/links'
        next_page_url:
          type: string
          example: null
        path:
          type: string
          format: url
        per_page:
          type: integer
          example: 15
        prev_page_url:
          type: string
          example: null
        to:
          type: integer
          example: 2
        total:
          type: integer
          example: 2
    invoiceall:
      type: object
      properties:
        current_page:
          type: integer
          example: 1
        data:
          type: array
          items: 
            $ref: '#/components/schemas/invoice'
        first_page_url:
          type: string
          format: url
        from:
          type: integer
          example: 1
        last_page:
          type: integer
          example: 1
        last_page_url:
          type: string
          format: url
        links:
          type: array
          items:
            $ref: '#/components/schemas/links'
        next_page_url:
          type: string
          example: null
        path:
          type: string
          format: url
        per_page:
          type: integer
          example: 15
        prev_page_url:
          type: string
          example: null
        to:
          type: integer
          example: 2
        total:
          type: integer
          example: 2
    links:
      type: object
      properties:
        url:
          type: string
          format: url
        label:
          type: string
          example: "&laquo; Previous"
        active:
          type: boolean
          example: false
  securitySchemes:
    BearerAuth:            # arbitrary name for the security scheme
      type: http
      scheme: bearer
      bearerFormat: JWT
